.header {
  padding: 50px 10px;
  &_heading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_nav-element {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_nav {
    display: flex;
    & + & {
      margin-left: 340px;
    }
  }
  &_toggle {
    display: none;
  }
}
.nav {
  &_item {
    list-style: none;
  }
  &_item + &_item {
    margin-left: 32px;
  }
  &_link {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #9e9aa8;
    &:hover {
      color: rgba(52, 49, 61, 1);
      border-bottom: 3px solid rgba(43, 208, 208, 1);
    }
    &_btn {
      padding: 14px 30px;
      text-decoration: none;
      background-color: rgba(43, 208, 208, 1);
      border-radius: 28px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      color: #ffffff;
      &:hover {
        color: #ffffff;
        background: rgba(154, 227, 227, 1);
      }
    }
  }
}

@media only screen and (max-width: 10240px) {
  .header {
    padding: 20px 0;
    &_nav {
      & + & {
        margin-left: 30px;
      }
    }
  }
  .nav {
    &_item + &_item {
      margin-left: 12px;
    }
    &_btn {
      padding: 14px 15px;
    }
  }
}

@media only screen and (max-width: 650px) {
  .header {
    position: relative;
    &_heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &_nav-element {
      position: absolute;
      top: 110px;
      left: 5%;
      right: 5%;
      z-index: 10;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px 24px;
      background: #3a3054;
      border-radius: 10px;
    }
    &_nav {
      display: flex;
      flex-direction: column;
      & + & {
        margin-left: 0px;
      }
    }
    &_toggle {
      display: block;
      width: 24px;
      height: 21px;
      background-image: url(../../classwork_img/toggle.png);
      background-repeat: no-repeat;
      background-size: cover;
      border: none;
      background-color: transparent;
    }
  }
  .nav {
    text-align: center;
    &_item + &_item {
      margin-left: 0px;
      margin-top: 20px;
    }
    &_link {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 27px;
      color: #ffffff;
      &_btn {
        padding: 14px 75px;
      }
    }
  }
  .header_open .header_nav-element {
    display: block;
  }
}
